.cardProduct {
	max-width: 380px;
	width: 31.53%;
	background-color: #fff;
	border-radius: 24px;
	transition-duration: .7s;
	padding: 32px;
	margin: 0 1.8% 1.8% 0;
	@media screen and (max-width: 992px) {
    	width: 47%;
    	margin: 0 3% 3% 0;
    }

    @media screen and (max-width: 576px) {
    	width: 100%;
    	margin: 0 auto 25px;
    }
}

.cardProduct:hover {
	box-shadow: 24px 24px 8px 0 rgba(170,221,0,.08);
}

.cardProductImg {
	margin-bottom: 10px;
}

.cardProductInfo {
	margin-top: 40px;
}

.cardProductDesc {
	margin-bottom: 15px;
}