@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font: 400 16px 'Roboto', sans-serif;
  letter-spacing: -0.02em;
  background-color: #E5E5E5;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

input, button, textarea {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  transition: all .5s ease;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a, button, input, textarea, img, svg, path, polygon, *::after, *::before {
  transition-duration: .5s;
}

*::-webkit-input-placeholder {color:rgba(0,0,0,.5); transition: color .5s;}
*::-moz-placeholder          {color:rgba(0,0,0,.5); transition: color .5s;}/* Firefox 19+ */
*:-moz-placeholder           {color:rgba(0,0,0,.5); transition: color .5s;}/* Firefox 18- */
*:-ms-input-placeholder      {color:rgba(0,0,0,.5); transition: color .5s;}

*:focus::-webkit-input-placeholder {color:#000;}
*:focus::-moz-placeholder          {color:#000;}/* Firefox 19+ */
*:focus:-moz-placeholder           {color:#000;}/* Firefox 18- */
*:focus:-ms-input-placeholder      {color:#000;}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  background-color: transparent!important;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}